<h2>Catálogo</h2>
<hr>
    

<div class="row row-cols-1 row-cols-md-4 g-4" >
    <div class="col" *ngFor="let movie of movies; let i = index">
        <div class="card" >
            <img [src]="movie.poster" [alt]="movie.title" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.genre }}</p>
            
            <div class="d-grid gap-2">
                <button 
                (click)="movieDetails(i)"
                type="button" 
                class="btn btn-outline-info">
                    Detalles
                </button>
            </div>
            </div>
        </div>
    </div>
</div>
 