<div class="row">
<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" #buscarPeli aria-label="Search">
    <button 
      (click)= "buscarMovie(buscarPeli.value)"
      class="btn btn-outline-info" type="submit">{{'HOME.SEARCH' | translate}}</button>
</form>
</div>
<hr>
<div class="row">
    <div class="col-md-10">
        <h2>{{'HOME.CATALOGO' | translate}}</h2>
    </div>
    <div class="col-md-2">
        <div class="d-grid gap-4">
            <button 
            (click)="showModalNewMovie()"
            type="button" 
            class="btn btn-outline-info btn-lg">
                {{'HOME.NUEVA_PELICULA' | translate}}
            </button>
        </div>
    </div>
</div>

<hr>
    

<div class="row row-cols-1 row-cols-md-4 g-4" >
    <div class="col" *ngFor="let movie of movies; let i = index">
        <div class="card" >
            <img [src]="movie.poster" [alt]="movie.title" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.genre }}</p>
            
            <div class="d-grid gap-2">
                <button 
                (click)="movieDetails(movie.id)"
                type="button" 
                class="btn btn-outline-info">
                    {{'HOME.BOTON_DETALLE' | translate}}
                </button>
            </div>
            </div>
        </div>
    </div>
</div>

<hr>


